Bank.Endpoints=ssl -p 6667#:tcp -p 6666:udp -p 6666 

BankApp.Session.Timeout=5000
BankApp.Session.EvictPeriod=10000

BankApp.Locator.LogCalls=false

BankApp.Locator=PerSession
BankApp.Locator.Balanced.MaxCPSPerServant=10

Ice.Warn.Connections=1
Ice.ThreadPool.Server.Size=2

Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=./pki
IceSSL.Keystore=server.jks
IceSSL.Truststore=server.jks
IceSSL.Password=ala123

