Chat.Prefix=Chat
Chat.Name=Manager
Chat.Endpoints=:ssl -p 7667:tcp -p 7666:udp -p 7666

#Ice.Trace.ThreadPool=2
Ice.ThreadPool.Client.Size=2

Ice.Warn.Connections=1

Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=./pki
IceSSL.Keystore=bank_cl.jks
IceSSL.Truststore=bank_cl.jks
IceSSL.Password=ala123
