Bank.Endpoints=ssl -p 6667 #:tcp -p 6666:udp -p 6666 

BankApp.Session.Timeout=5000
BankApp.Session.EvictPeriod=10000
BankApp.Accounts.Dir=accounts

BankApp.Locator=Balanced
BankApp.Locator.Balanced.LogCalls=false

Ice.Warn.Connections=1


Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=./pki/bank
IceSSL.Keystore=bank_sv.jks
IceSSL.Truststore=bank_sv.jks
IceSSL.Password=ala123

