Bank.Endpoints=ssl -p 6667:tcp -p 6666:udp -p 6666 
Chat.Endpoints=ssl -p 7667:tcp -p 7666:udp -p 7666 

BankApp.Session.Timeout=5000
BankApp.Session.EvictPeriod=10000
BankApp.Accounts.Dir=_accounts

BankApp.Locator=PerSession
BankApp.Locator.Balanced.LogCalls=false
BankApp.Locator.Balanced.MaxCPSPerServant=10

ChatApp.Accounts.Dir=_chatdb/accounts

ChatApp.Session.Timeout=5000
ChatApp.Session.EvictPeriod=10000

Ice.Warn.Connections=1
Ice.ThreadPool.Server.Size=2

Ice.Plugin.IceSSL=IceSSL.PluginFactory
IceSSL.DefaultDir=./pki/bank
IceSSL.Keystore=bank_sv.jks
IceSSL.Truststore=bank_sv.jks
IceSSL.Password=ala123

